<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZde8tsu10nmqDt22L2bLvaAIrpKv_-bI</string>
	<key>GCM_SENDER_ID</key>
	<string>876107845026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firelightsyncIgnitionapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-iot-bae89</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-iot-bae89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876107845026:ios:9e88697a0aed75c79db6fb</string>
</dict>
</plist>